.app-component-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.app-component-image {
  width: 100px;
  object-fit: cover;
}
.app-component-text {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.app-component-root-class-name {
  top: 32px;
  left: 48px;
  position: static;
  align-self: center;
}
.app-component-root-class-name1 {
  top: 32px;
  left: 48px;
  position: static;
  align-self: center;
}
.app-component-root-class-name2 {
  top: 32px;
  left: 48px;
  position: static;
  align-self: center;
}
@media(max-width: 767px) {
  .app-component-root-class-name2 {
    margin-bottom: var(--dl-space-space-twounits);
    background-color: var(--dl-color-gray-black);
  }
}

.navigation-links1-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text {
  color: var(--dl-color-gray-white);
}
.navigation-links1-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
}
.navigation-links1-text2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
}
.navigation-links1-text3 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
}
.navigation-links1-text4 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
}
.navigation-links1-text5 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
}








@media(max-width: 767px) {
  .navigation-links1-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.home-nav {
  display: flex;
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.home-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link2 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link3 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
  text-decoration: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 100%;
  height: 793px;
  display: flex;
  position: relative;
  margin-top: 0px;
  min-height: 80vh;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-fourunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-image01 {
  width: 100%;
  height: 695px;
  object-fit: cover;
}
.home-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-hero1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container03 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text01 {
  font-size: 3rem;
  max-width: 450px;
}
.home-text02 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-image02 {
  width: 400px;
  height: 428px;
  object-fit: cover;
}
.home-gallery {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text09 {
  font-size: 3rem;
  text-align: center;
}
.home-text10 {
  margin-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-image03 {
  width: 100%;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container04 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 1099px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image04 {
  width: 536px;
  height: 558px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-image05 {
  width: 533px;
  height: 557px;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-container07 {
  flex: 0 0 auto;
  width: 1095px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image06 {
  width: 485px;
  height: 536px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image07 {
  width: 514px;
  height: 545px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container08 {
  flex: 0 0 auto;
  width: 1095px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image08 {
  width: 480px;
  height: 537px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image09 {
  width: 479px;
  height: 503px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container09 {
  flex: 0 0 auto;
  width: 1107px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image10 {
  width: 523px;
  height: 543px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image11 {
  width: 527px;
  height: 546px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 1109px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image12 {
  width: 529px;
  height: 591px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image13 {
  width: 525px;
  height: 551px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container11 {
  flex: 0 0 auto;
  width: 1095px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image14 {
  width: 499px;
  height: 552px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image15 {
  width: 532px;
  height: 557px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container12 {
  flex: 0 0 auto;
  width: 1109px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image16 {
  width: 535px;
  height: 559px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image17 {
  width: 548px;
  height: 553px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container13 {
  flex: 0 0 auto;
  width: 1108px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image18 {
  width: 502px;
  height: 533px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image19 {
  width: 495px;
  height: 566px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container14 {
  flex: 0 0 auto;
  width: 1117px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image20 {
  width: 538px;
  height: 571px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image21 {
  width: 525px;
  height: 573px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container15 {
  flex: 0 0 auto;
  width: 1065px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image22 {
  width: 465px;
  height: 507px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image23 {
  width: 476px;
  height: 491px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container16 {
  flex: 0 0 auto;
  width: 1079px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image24 {
  width: 488px;
  height: 527px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image25 {
  width: 503px;
  height: 516px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container17 {
  flex: 0 0 auto;
  width: 1097px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image26 {
  width: 498px;
  height: 550px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image27 {
  width: 533px;
  height: 544px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container18 {
  flex: 0 0 auto;
  width: 1079px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image28 {
  width: 499px;
  height: 543px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image29 {
  width: 500px;
  height: 541px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container19 {
  flex: 0 0 auto;
  width: 1081px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image30 {
  width: 470px;
  height: 491px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image31 {
  width: 468px;
  height: 484px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container20 {
  flex: 0 0 auto;
  width: 1064px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image32 {
  width: 470px;
  height: 478px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image33 {
  width: 447px;
  height: 489px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container21 {
  flex: 0 0 auto;
  width: 1063px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image34 {
  width: 463px;
  height: 468px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image35 {
  width: 466px;
  height: 463px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container22 {
  flex: 0 0 auto;
  width: 1044px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image36 {
  width: 504px;
  height: 530px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image37 {
  width: 518px;
  height: 524px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container23 {
  flex: 0 0 auto;
  width: 1028px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image38 {
  width: 469px;
  height: 482px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image39 {
  width: 466px;
  height: 488px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container24 {
  flex: 0 0 auto;
  width: 1057px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image40 {
  width: 498px;
  height: 556px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image41 {
  width: 538px;
  height: 534px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container25 {
  flex: 0 0 auto;
  width: 1110px;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image42 {
  width: 464px;
  height: 446px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-image43 {
  width: 448px;
  height: 454px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-hero2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container26 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container27 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text16 {
  font-size: 3rem;
}
.home-container28 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-container29 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-text17 {
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-link4 {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link4:hover {
  transform: scale(1.02);
}
.home-image44 {
  width: 100%;
  height: 550px;
  margin-top: var(--dl-space-space-twounits);
}
.home-text18 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-image45 {
  width: 465px;
  height: 409px;
  object-fit: cover;
}
.home-hero3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container30 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image46 {
  width: 45rem;
  margin-top: var(--dl-space-space-twounits);
}
.home-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-text20 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-link5 {
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link5:hover {
  transform: scale(1.02);
}
.home-icon13 {
  width: 24px;
  height: 24px;
}
.home-text21 {
  font-size: 18px;
}
.home-link6 {
  display: flex;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link6:hover {
  transform: scale(1.02);
}
.home-icon15 {
  width: 24px;
  height: 24px;
}
.home-text22 {
  font-size: 18px;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.home-text24 {
  color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .home-icon {
    display: flex;
  }
  .home-hero1 {
    flex-direction: column;
  }
  .home-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text01 {
    text-align: center;
  }
  .home-text02 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-container04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-container06 {
    width: 797px;
  }
  .home-image04 {
    width: 365px;
    height: 385px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image05 {
    width: 353px;
    height: 382px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container07 {
    width: 809px;
  }
  .home-image06 {
    width: 354px;
    height: 381px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image07 {
    width: 346px;
    height: 385px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container08 {
    width: 805px;
  }
  .home-image08 {
    width: 355px;
    height: 388px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image09 {
    width: 351px;
    height: 365px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container09 {
    width: 816px;
  }
  .home-image10 {
    width: 355px;
    height: 371px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image11 {
    width: 333px;
    height: 373px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container10 {
    width: 817px;
  }
  .home-image12 {
    width: 372px;
    height: 412px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image13 {
    width: 351px;
    height: 384px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container11 {
    width: 828px;
  }
  .home-image14 {
    width: 375px;
    height: 400px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image15 {
    width: 369px;
    height: 404px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container12 {
    width: 824px;
  }
  .home-image16 {
    width: 344px;
    height: 370px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image17 {
    width: 344px;
    height: 377px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container13 {
    width: 833px;
  }
  .home-image18 {
    width: 374px;
    height: 387px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image19 {
    width: 334px;
    height: 406px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container14 {
    width: 841px;
  }
  .home-image20 {
    width: 362px;
    height: 365px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image21 {
    width: 352px;
    height: 370px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container15 {
    width: 837px;
  }
  .home-image22 {
    width: 366px;
    height: 381px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image23 {
    width: 353px;
    height: 376px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container16 {
    width: 838px;
  }
  .home-image24 {
    width: 386px;
    height: 403px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image25 {
    width: 381px;
    height: 400px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container17 {
    width: 847px;
  }
  .home-image26 {
    width: 400px;
    height: 408px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image27 {
    width: 369px;
    height: 402px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container18 {
    width: 842px;
  }
  .home-image28 {
    width: 391px;
    height: 395px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image29 {
    width: 368px;
    height: 391px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container19 {
    width: 809px;
  }
  .home-image30 {
    width: 394px;
    height: 399px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image31 {
    width: 370px;
    height: 399px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container20 {
    width: 808px;
  }
  .home-image32 {
    width: 349px;
    height: 376px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image33 {
    width: 343px;
    height: 381px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container21 {
    width: 804px;
  }
  .home-image34 {
    width: 383px;
    height: 374px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image35 {
    width: 337px;
    height: 374px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container22 {
    width: 846px;
  }
  .home-image36 {
    width: 396px;
    height: 400px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image37 {
    width: 382px;
    height: 400px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container23 {
    width: 859px;
  }
  .home-image38 {
    width: 388px;
    height: 391px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image39 {
    width: 364px;
    height: 387px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container24 {
    width: 826px;
  }
  .home-image40 {
    width: 369px;
    height: 409px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image41 {
    width: 357px;
    height: 399px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container25 {
    width: 864px;
  }
  .home-image42 {
    width: 380px;
    height: 388px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image43 {
    width: 352px;
    height: 392px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-container26 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text16 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
  }
  .home-image44 {
    width: 935px;
  }
  .home-hero3 {
    flex-direction: column;
  }
  .home-container30 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-image46 {
    width: 80%;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-link {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-hero {
    align-items: center;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image02 {
    width: 453px;
  }
  .home-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container04 {
    grid-template-columns: 1fr 1fr;
  }
  .home-container06 {
    width: 515px;
  }
  .home-image04 {
    width: 238px;
    height: 252px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image05 {
    width: 237px;
    height: 254px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container07 {
    width: 548px;
  }
  .home-image06 {
    width: 238px;
    height: 265px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image07 {
    width: 248px;
    height: 260px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container08 {
    width: 545px;
  }
  .home-image08 {
    width: 50%;
    height: 291px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image09 {
    width: 50%;
    height: 274px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container09 {
    width: 532px;
  }
  .home-image10 {
    width: 248px;
    height: 273px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image11 {
    width: 252px;
    height: 260px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container10 {
    width: 542px;
  }
  .home-image12 {
    width: 252px;
    height: 278px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image13 {
    width: 241px;
    height: 259px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container11 {
    width: 528px;
  }
  .home-image14 {
    width: 243px;
    height: 247px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image15 {
    width: 232px;
    height: 248px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container12 {
    width: 523px;
  }
  .home-image16 {
    width: 246px;
    height: 267px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image17 {
    width: 239px;
    height: 262px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container13 {
    width: 521px;
  }
  .home-image18 {
    width: 50%;
    height: 252px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image19 {
    width: 222px;
    height: 264px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container14 {
    width: 538px;
  }
  .home-image20 {
    width: 266px;
    height: 271px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image21 {
    width: 234px;
    height: 259px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container15 {
    width: 526px;
  }
  .home-image22 {
    width: 256px;
    height: 255px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image23 {
    width: 253px;
    height: 257px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container16 {
    width: 521px;
  }
  .home-image24 {
    width: 251px;
    height: 264px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image25 {
    width: 229px;
    height: 251px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container17 {
    width: 562px;
  }
  .home-image26 {
    width: 248px;
    height: 276px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image27 {
    width: 254px;
    height: 272px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container18 {
    width: 559px;
  }
  .home-image28 {
    width: 253px;
    height: 263px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image29 {
    width: 244px;
    height: 263px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container19 {
    width: 561px;
  }
  .home-image30 {
    width: 253px;
    height: 269px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image31 {
    width: 242px;
    height: 266px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container20 {
    width: 569px;
  }
  .home-image32 {
    width: 286px;
    height: 287px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image33 {
    width: 262px;
    height: 292px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container21 {
    width: 572px;
  }
  .home-image34 {
    width: 265px;
    height: 301px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image35 {
    width: 261px;
    height: 288px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container22 {
    width: 577px;
  }
  .home-image36 {
    width: 272px;
    height: 291px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image37 {
    width: 265px;
    height: 291px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container23 {
    width: 599px;
  }
  .home-image38 {
    width: 280px;
    height: 306px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image39 {
    width: 280px;
    height: 305px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container24 {
    width: 593px;
  }
  .home-image40 {
    width: 273px;
    height: 306px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image41 {
    width: 269px;
    height: 295px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container25 {
    width: 613px;
  }
  .home-image42 {
    width: 282px;
    height: 323px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image43 {
    width: 279px;
    height: 321px;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text17 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image44 {
    width: 581px;
    height: 468px;
  }
  .home-image45 {
    width: 440px;
    height: 382px;
  }
  .home-hero3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text23 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-image02 {
    width: 451px;
  }
  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-container04 {
    grid-template-columns: 1fr;
  }
  .home-container06 {
    width: 393px;
  }
  .home-image04 {
    width: 50%;
    height: 179px;
  }
  .home-image05 {
    width: 172px;
    height: 192px;
  }
  .home-container07 {
    width: 385px;
  }
  .home-image06 {
    width: 182px;
    height: 190px;
  }
  .home-image07 {
    width: 174px;
    height: 178px;
  }
  .home-container08 {
    width: 394px;
  }
  .home-image08 {
    width: 50%;
    height: 190px;
  }
  .home-image09 {
    width: 233px;
    height: 176px;
  }
  .home-container09 {
    width: 378px;
  }
  .home-image10 {
    width: 50%;
    height: 179px;
  }
  .home-image11 {
    width: 172px;
    height: 175px;
  }
  .home-container10 {
    width: 400px;
    height: 250px;
  }
  .home-image12 {
    width: 165px;
    height: 186px;
  }
  .home-image13 {
    width: 177px;
    height: 177px;
  }
  .home-container11 {
    width: 397px;
  }
  .home-image14 {
    width: 174px;
    height: 189px;
  }
  .home-image15 {
    width: 181px;
    height: 191px;
  }
  .home-container12 {
    width: 401px;
  }
  .home-image16 {
    width: 177px;
    height: 190px;
  }
  .home-image17 {
    width: 169px;
    height: 179px;
  }
  .home-container13 {
    width: 391px;
  }
  .home-image18 {
    width: 50%;
    height: 193px;
  }
  .home-image19 {
    width: 166px;
    height: 182px;
  }
  .home-container14 {
    width: 401px;
  }
  .home-image20 {
    width: 178px;
    height: 186px;
  }
  .home-image21 {
    width: 181px;
    height: 190px;
  }
  .home-container15 {
    width: 417px;
  }
  .home-image22 {
    width: 189px;
    height: 195px;
  }
  .home-image23 {
    width: 184px;
    height: 195px;
  }
  .home-container16 {
    width: 422px;
  }
  .home-image24 {
    width: 185px;
    height: 190px;
  }
  .home-image25 {
    width: 182px;
    height: 186px;
  }
  .home-container17 {
    width: 415px;
  }
  .home-image26 {
    width: 193px;
    height: 205px;
  }
  .home-image27 {
    width: 179px;
    height: 190px;
  }
  .home-container18 {
    width: 415px;
  }
  .home-image28 {
    width: 189px;
    height: 195px;
  }
  .home-image29 {
    width: 178px;
    height: 183px;
  }
  .home-container19 {
    width: 415px;
  }
  .home-image30 {
    width: 188px;
    height: 199px;
  }
  .home-image31 {
    width: 202px;
    height: 194px;
  }
  .home-container20 {
    width: 420px;
  }
  .home-image32 {
    width: 206px;
    height: 213px;
  }
  .home-image33 {
    width: 194px;
    height: 198px;
  }
  .home-container21 {
    width: 423px;
  }
  .home-image34 {
    width: 193px;
    height: 203px;
  }
  .home-image35 {
    width: 186px;
    height: 198px;
  }
  .home-container22 {
    width: 420px;
  }
  .home-image36 {
    width: 195px;
    height: 209px;
  }
  .home-image37 {
    width: 187px;
    height: 201px;
  }
  .home-container23 {
    width: 412px;
  }
  .home-image38 {
    width: 188px;
    height: 198px;
  }
  .home-image39 {
    width: 188px;
    height: 198px;
  }
  .home-container24 {
    width: 415px;
  }
  .home-image40 {
    width: 175px;
    height: 207px;
  }
  .home-image41 {
    width: 182px;
    height: 192px;
  }
  .home-container25 {
    width: 418px;
  }
  .home-image42 {
    width: 190px;
    height: 210px;
  }
  .home-image43 {
    width: 189px;
    height: 200px;
  }
  .home-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container26 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link4 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-image44 {
    width: 378px;
    height: 232px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image45 {
    width: 390px;
    height: 334px;
  }
  .home-hero3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container30 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image46 {
    width: 478px;
    height: 293px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text23 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
