<div>
  <link href="./gallery.css" rel="stylesheet" />
  <div id="boucherie" class="gallery-gallery">
    <h1 class="gallery-text"><span>Boucherie - Charcuterie</span></h1>
    <span class="gallery-text1">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
        volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
        dignissim tortor.
      </span>
    </span>
    <img
      alt="image"
      src="public/playground_assets/unsplash-image%20%5B1%5D-1500w.jpeg"
      class="gallery-image"
    />
    <div class="gallery-container"></div>
    <div class="gallery-container01">
      <div class="gallery-container02">
        <div class="gallery-container03">
          <img
            alt="image"
            src="public/playground_assets/00_merguez-400h.png"
            class="gallery-image01"
          />
          <img
            alt="image"
            src="public/playground_assets/01_chipolatas-400h.png"
            class="gallery-image02"
          />
        </div>
        <img
          alt="image"
          src="public/playground_assets/03_farce%20%C3%A0%20l%C3%A9gumes-300w.png"
          class="gallery-image03"
        />
      </div>
      <img
        alt="image"
        src="public/playground_assets/04_c%C3%B4te%20d'agneau-300w.png"
        class="gallery-image04"
      />
    </div>
    <div class="gallery-container04">
      <div class="gallery-container05">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image05"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image06"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image07"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image08"
      />
    </div>
    <div class="gallery-container06">
      <div class="gallery-container07">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image09"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image10"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image11"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image12"
      />
    </div>
    <div class="gallery-container08">
      <div class="gallery-container09">
        <div class="gallery-container10">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image13"
          />
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image14"
          />
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image15"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image16"
      />
    </div>
    <div class="gallery-container11">
      <div class="gallery-container12">
        <div class="gallery-container13">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image17"
          />
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image18"
          />
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image19"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image20"
      />
    </div>
    <div class="gallery-container14">
      <div class="gallery-container15">
        <div class="gallery-container16">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image21"
          />
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image22"
          />
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image23"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image24"
      />
    </div>
    <div class="gallery-container17">
      <div class="gallery-container18">
        <div class="gallery-container19">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image25"
          />
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image26"
          />
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image27"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image28"
      />
    </div>
    <div class="gallery-container20">
      <div class="gallery-container21">
        <div class="gallery-container22">
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image29"
          />
          <img
            alt="image"
            src="https://play.teleporthq.io/static/svg/default-img.svg"
            class="gallery-image30"
          />
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image31"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image32"
      />
    </div>
    <div class="gallery-container23">
      <div class="gallery-container24">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image33"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image34"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image35"
      />
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image36"
      />
    </div>
    <div class="gallery-container25">
      <div class="gallery-container26">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image37"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image38"
        />
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="gallery-image39"
        />
      </div>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="gallery-image40"
      />
    </div>
  </div>
</div>
