<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <span class="navigation-links1-text"><span>À PROPOS DE NOUS</span></span>
    <span class="navigation-links1-text1">
      <span>BOUCHERIE - CHARCUTERIE</span>
    </span>
    <span class="navigation-links1-text2"><span>ÉPICERIE</span></span>
    <span class="navigation-links1-text3"><span>HORAIRES</span></span>
    <span class="navigation-links1-text4"><span>MOYENS DE PAIEMENT</span></span>
    <span class="navigation-links1-text5"><span>CONTACT</span></span>
  </nav>
</div>
